<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-2 col-sm-offset-2" id="site-map">
        <ul>
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="/about">
              About
            </a>
          </li>
          <li>
            <a href="/services">
              Services
            </a>
          </li>
          <!-- <li> -->
          <!--   <a href="/our-process"> -->
          <!--     Our Process -->
          <!--   </a> -->
          <!-- </li> -->
          <li>
            <a href="/contact">
              Contact
            </a>
          </li>
          <li>
            <a href="/privacy_policy">
              Privacy Policy
            </a>
          </li>
          <li>
            <a href="/disclosure">
              Disclosure
            </a>
          </li>
          <li>
            <a href="/ADVPart2.pdf" target="_blank">
              ADV Pt. 2
            </a>
          </li>
          <li>
            <a href="/FiduciaryOath.pdf" target="_blank">
              Fiduciary Oath
            </a>
          </li>
        </ul>
        <hr class="hidden-md-up">
      </div>
      <div class="col-sm-3 col-sm-offset-1" id="contact-info">
        <ul>
          <li>
            <a href="mailto:richard@zuwafinancial.com">
              <i class="fa fa-envelope">
              </i>
              Email
            </a>
          </li>
          <li>
            <a href="tel:19728911831">
              <i class="fa fa-phone">
              </i>
              Call
            </a>
          </li>
          <li>
            <a href="https://goo.gl/maps/gdPbBsMpnH22" target="_blank">
              <i class="fa fa-map-marker">
              </i>
              Locate
            </a>
          </li>
        </ul>
        <hr class="hidden-md-up">
      </div>
      <div class="col-sm-4" id="social-links">
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/richard-omobogie-cfp%C2%AE-crpc-aa00015" target="_blank">
              <i class="fa fa-linkedin">
              </i>
              LinkedIn
            </a>
          </li>
          <li>
            <a href="https://twitter.com/ZuwaFinancial" target="_blank">
              <i class="fa fa-twitter">
              </i>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/Zuwafinancial/" target="_blank">
              <i class="fa fa-facebook">
              </i>
              Facebook
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/b/107470674919250335822/107470674919250335822" target="_blank">
              <i class="fa fa-google">
              </i>
              Google+
            </a>
          </li>
        </ul>
      </div>


    </div>
  </div>

  <div class="container" id="disclaimer">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-left">
        <p>
        Certified Financial Planner Board of Standards Inc. owns the certification marks CFP®, Certified
        Financial Planner™ and federally registered CFP (with flame design) in the U.S., which it
        awards to individuals who successfully complete CFP Board’s initial and ongoing certification
        requirements. 
        </p>
      </div>
    </div> <!-- /row -->
  </div>

  <div class="container" id="copyright-info">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-2 text-left">
        <p>
        &copy; {{ site.time | date: '%Y' }} Zuwa Financial, LLC
        </p>
      </div>

      <div class="col-sm-4 text-right">
        <p>
        Design by 
        <a href="https://www.buildingblocklabs.com/" target="_blank">
          BuildingBlockLabs
        </a>
        </p>
      </div>

    </div> <!-- /row -->
  </div>

</footer>


