<footer class="text-center">
  <ul id="contact-info">
    <li>
      <a href="mailto:mybiz@biz.com">
          <i class="fa fa-envelope">
          </i>
      </a>
    </li>
    <li>
      <a href="tel:1111111111">
          <i class="fa fa-phone">
          </i>
      </a>
    </li>
    <li>
      <a href="http://maps.google.com/?q=Rugby, ND" target="_blank">
        <i class="fa fa-map-marker">
        </i>
      </a>
    </li>
  </ul>
  <ul id="social">
    <li>
      <a href="" target="_blank">
        <i class="fa fa-linkedin">
        </i>
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <i class="fa fa-twitter">
        </i>
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <i class="fa fa-facebook">
        </i>
      </a>
    </li>
    <li>
      <a href="" target="_blank">
        <i class="fa fa-google">
        </i>
      </a>
    </li>
  </ul>
  <ul id="site-map">
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
    <li>
      <a href="/services">
        Services
      </a>
    </li>
    <li>
      <a href="/#contact">
        Contact
      </a>
    </li>
    <li>
      <a href="/disclosure">
        Disclosure
      </a>
    </li>
  </ul>
</footer>

<div class="row" id="copyright-info">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-5 text-left">
    <p>
      &copy; {{ site.time | date: '%Y' }} Building Block Labs, LLC
    </p>
  </div>
  <div class="col-sm-5 text-right">
    <p>
      Design by 
      <a href="https://www.buildingblocklabs.com/" target="_blank">
        BuildingBlockLabs
      </a>
    </p>
  </div>
  <div class="col-sm-1">
  </div>
</div>
