@import "variables";

* {
  font-family: Gill Sans;
  letter-spacing: .05em;
}

body {
  font-size: 2em;
  overflow-x: hidden;
  padding-top: 10%;
}

section {
  min-height: 5em;
  padding: 2em;
}

form {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  width: 100%;
}

#profile-pic {
  margin: 20px 0;
}

#home {
  min-height: 800px;
  background-image: url('/assets/images/field-and-blue-sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .section-header {
    padding-top: 15%;
    color: $logo-dark-blue;
  }
  .row {
    padding-top: 1em;
  }
}

#about-image {
  padding: 0;
}

#intro {
  background-color: $light-gray;
}

#about {
  background-color: $white;
}

#highlights {
  background-color: $light-gray;
  .col-sm-6 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

#services {
  background-color: $medium-gray;
  .col-sm-4 {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.panel-header {
  height: 5em;
}

.panel-body {
  min-height: 9em;
}

.panel-footer {
  height: 5em;
}

#contact {
  background-color: $light-gray;
}

#certifications {
  background-color: $white;
  img {
    margin-right: auto;
    margin-left: auto;
  }
  #xypn-logo {
    padding-top: .5em;
  }
}

@media (max-width: 770px) {
  #home {
    min-height: 100px;
  }
}