@import "variables";

* {
  font-family: Gill Sans;
  letter-spacing: .05em;
}

// needed for sticky footer behavior
html, body {
  height: 100%
}

body {
  font-size: 2em;
  overflow-x: hidden;
}

.top-content {
  padding-top: 8em;
}

section {
  min-height: 5em;
  padding: 2em;
}

.img-responsive {
  width: 100%;
}

#profile-pic {
  margin: 20px 0;
}

#home {
  min-height: 800px;
  background-image: url('/assets/images/field-and-blue-sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .section-header {
    color: $logo-dark-blue;
    margin-top: 3em;
  }
  .section-body {
    margin-top: 8em;
  }
}

@media (min-width: 800px) {
  #home .section-header {
    margin-top: 10em;
  }
}

#about-image {
  padding: 0;
}

#intro {
  background-color: $white;
}

#about {
  background-color: $light-blue;
}

#certifications {
  background-color: $white;
  img {
    margin-right: auto;
    margin-left: auto;
  }
  #xypn-logo {
    padding-top: .5em;
  }
}

#highlights {
  background-color: $light-gray;
  .col-sm-4 {
    min-height: 16em;
    margin-right: .1em;
    margin-bottom: .15em;
  }
}

#services {
  background-color: $white;
  .index-service {
    min-height: 14em;
  }
}

#contact {
  background-color: $light-blue;
}

.secondary-page {
  background-color: $light-blue;
}

.center-pills {
  display: inline-block;
}

@media (max-width: 770px) {
  #home {
    min-height: 100px;
  }
  #highlights {
    .col-sm-4 {
      min-height: 12em;
    }
  }
}