@import "variables";

// Site-wide styling

* {
  font-family: Gill Sans;
  letter-spacing: .05em;
}

hr {
  border-top: 4px solid $light-blue;
} 

// needed for sticky footer behavior
html, body {
  height: 100%
}

body {
  font-size: 2em;
  overflow-x: hidden;
}


.hero-image-cta {
  padding-top: 15em;
}

.image-width-75-pct {
  width: 75%; height: auto;
}

.image-width-60-pct {
  width: 60%; height: auto;
}

.image-width-50-pct {
  width: 50%; height: auto;
}

section {
  min-height: 5em;
  padding: 2em 0em;
}

br {
  display: block;
  content: "";
  margin-bottom: .5em;
}

a:hover {
  text-decoration: none;
}

nav.navbar.navbar-default.navbar-top {
  margin-bottom: 0px;
}

.center-pills {
  display: inline-block;
}

.nav-pills {
  margin-top: 1em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: $logo-dark-blue;
}

a {
  color: $logo-dark-blue;
}

.nav-pills li.active a {
  background-color: $logo-dark-blue;
}

// Index page styling

#home {
  background-image: url('/assets/images/dallas-5.jpg');
	min-height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  .section-header {
    h2 {
      color: $faded-blue;
      background-color: rgba(255,255,255,.85);
      border-radius: 5px;
      padding: .8em;
      display: inline-block;
    }
    margin-top: -3em;
  }
}

#intro {
  background-color: #f5f5f5;
}

#highlights {
  background-color: #eee;

	.client-base-pic {
		width: 90%;
		height: auto;
	}

  h2 {
    margin-bottom: 1.5em;
  }
}

#about {
  background-color: #ccc;
  h2 {
    margin-top: 0;
  }
  img {
    display: inline-block;
  }
}

#certifications {
  background-color: $white;
  img {
    margin-right: auto;
    margin-left: auto;
  }
  #xypn-logo {
    padding-top: .5em;
  }

  h2 {
    margin-bottom: 2em;
  }
}

#services {
  background-color: $light-gray;
}

.service-description {
  min-height: 6.5em;

  h3 {
    padding-top: .5em
  }
  p {
    padding-top: 1em;
  }
}

// About page styling

#about-page {
  img {
    min-height: 150px;
  }
  p {
    margin: 1em 0;
  }
}

#about-image {
  padding: 1.5em;
  padding-top: .75em;
}

// Services page styling

#services-top {
  background-image: url('/assets/images/texas-flag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .section-header {
    h2 {
      color: $faded-blue;
      background-color: rgba(255,255,255,.85);
      border-radius: 5px;
      padding: .8em;
      display: inline-block;
      margin: 3em 0;
			margin-top: 6em;
    }
  }
}

#services-bottom {
  .service-description {
    min-height: 10em;
  }
}

.schedule-cta {
  margin-top: 2em;
}

.service-offerings {
  margin-top: 1.5em;
}
.service-offerings li {
  float: left;
}

// Contact page styling

.contact-info {
	padding: .2em 0em .5em 0em; 
	width: 100%;
	line-height: 1.5em;
	display: block;
	font-size: 1.25em;
}
.contact-icon {
	width: 35px;
}

.street-address {
	font-size: 1.25em;
}
.address {
	margin-left: 45px;
}

// Mobile responsiveness

@media (max-width: 767px) {
  #home {
    .section-header {
      margin-top: -6em;
    }
  }

  #highlights {
    .col-sm-4 {
      min-height: 12em;
      padding-top: 2em;
    }
  }

  #profile-pic {
    margin-bottom: 2em;
  }

  #cfp-logo {
    margin-bottom: 1em;
  }

  .nav-pills {
    li {
      float: none;
    }
  }

  .service-description {
      min-height: 7.5em;
      padding-top: .5em;
  }

  #contact-right-col {
		margin-top: 2.5em;
		text-align: left;
	}

  .secondary-page {
    margin-top: 0;
  }

  .contact-info {
    padding: .2em 0em .5em 0em; 
    width: 100%;
    line-height: 1em;
    display: block;
    font-size: 1em;
  }
  .street-address {
    font-size: 1em;
  }
  .address {
    margin-left: 25px;
  }

  .contact-icon {
    width: 25px;
  }

  .service-offerings li {
    float: left;
    width: 100%;
  }

.service-option-list li {
    width: 90%;
    padding-left: 10%;
  }

  .nav>li>a {
    padding: 5px 10px;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 0px;
  }

  .contact-icon {
    width: 15px;
  }
  .contact-info {
    padding: .2em 0em .5em 0em; 
    width: 100%;
    line-height: 1em;
    display: block;
    font-size: 1em;
  }
  .street-address {
    font-size: .8em;
  }
  .address {
    margin-left: 15px;
  }
}

