@import "variables";

.button {
  background-color: $logo-dark-blue;
  border: none;
  border-radius: 4px;
  padding: 2% 3%;
  margin: 5px 0;
  color: $white !important;
  font-size: 1.5em;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: $faded-blue;
}
