@import "variables";

button {
  background-color: $yellow;
  border: 3px solid $logo-dark-blue;
  padding: 2% 3%;
  margin: 5px 0;
  color: $logo-dark-blue;
  font-size: 1.5em;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

button:hover {
  color: $logo-dark-blue;
  background-color: transparent;
}
