@import 'variables';


#wrap-for-sticky-footer {
  min-height: 100%;
  height: auto;
  margin: 0 auto -170px;
  padding: 0 0 170px;
}

#sticky-footer {
  height: 170px;
}

footer {
  margin-left: -3%;
  padding-top: .5em;
  li {
    list-style-type: none;
    display: inline;
    padding: 0 .4em;
  }
  a {
    color: $logo-dark-blue;
  }
  a:hover {
    text-decoration: none;
    color: $charcoal;
  }
}

#site-map {
  ul {
    padding-left: 0;
  }
  li {
    border-right: 2px solid $charcoal;
    padding-left: .8em;
  }
  li:last-child {
    border-right: none;
    padding-left: none;
  }
  li:first-child {
    padding-right: none;
  }
}

#copyright-info {
  background-color: $black;
  width: 100%;
  padding-top: .5em;
  margin: 0;
  p {
    color: gray;
  }
}

@media (max-width: 770px) {
  footer {
    margin-left: -11%;
  }
}
