@import 'variables';


#wrap-for-sticky-footer {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

#sticky-footer {
  height: 120px;
}



footer {
  background-color: $light-blue;
  padding-top: .5em;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    padding-top: .2em;
  }
  a {
    color: $logo-dark-blue;
  }
  a:hover {
    text-decoration: none;
    color: $charcoal;
  }
  i {
    height: 23px;
    width: 23px;
  }
  hr {
    margin: 1em 0;
    border: 2px solid $light-gray;
  }
}

#copyright-info {
  background-color: $black;
  width: 100%;
  padding-top: .5em;
  margin: 0;
  p {
    color: gray;
    font-size: .7em;
  }
}
@media (max-width: 770px) {
  footer ul {
    margin-left: 1.5em;
  }
}
