@import 'variables';

.input-text{
  padding: 15px 15px;
  border: 1px solid #ccc;
  width: 100%;
  height: 50px;
  display: block;
  border-radius: 4px;
  font-size: 15px;
  color: #aaa;
  font-family: sans-serif;
  margin: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
  border: 1px solid $logo-dark-blue;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(1, 89, 161, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(1, 89, 161, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(1, 89, 161, 0.3);
}

.text-area {
  height: 165px !important;
  resize: none;
  overflow: auto;
}