@import "variables";

.navbar {
  border-bottom: 3px solid $logo-dark-blue;
}

.navbar-default {
  background-color: $white;
  .navbar-header {
    float: none;
    padding: 0;
    .navbar-brand {
      float: none;
      img {
        display: inline-block;
        padding-bottom: 0;
        max-height: 7em;
        width: auto;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom: -.4em;
    li {
      color: $logo-dark-blue;
      a {
        color: $logo-dark-blue;
      }
    }
  }
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: $white;
}

.navbar-default {
  .navbar-toggle,
  .navbar-toggle:focus,
  .navbar-toggle:hover {
    background: transparent;
    border-radius: 0;
    border: 2px solid $logo-dark-blue;
    .icon-bar {
      background-color: $logo-dark-blue;
    }
  }
}

@media (max-width: 770px) {
  .navbar-fixed-top {
    border-bottom: 4px solid $logo-dark-blue;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar .navbar-nav {
   padding-top: 0;
   li {
      float: left;
      width: 47%;
      padding: 2%;
   }
   a {
    padding: .5em 0;
   }
  }

  .navbar-collapse .collapse {
    display: inline-block;
  }

  .navbar-header {
    float: none;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-header .navbar-brand img {
    width: 70%;
    height: auto;
    float: left;
  }
}
